.numero{
    font-size: 2rem;
}

body{
    background-color: #2f2f2f;
    color: white;
}
button{
    border:none;
    padding: 1rem;
    background-color: #3f3f3f;
    border-radius: 8px;
    color: white;
}

.ok{
    color: #129fd4;
}

.erro{
    color: rgb(211, 40, 40);
}

